/*Estilos base*/
@font-face{
    font-family: 'Lemon Milk';
    font-style: normal;
    src: url('/font/LemonMilk.woff') format('woff'),
    url('/font/LemonMilk.woff2') format('woff2'),
    url('/font/LemonMilk.ttf') format('truetype');
}

@font-face{
    font-family: 'Century Gothic';
    font-style: normal;
    src: url('/font/CenturyGothic.woff') format('woff'),
    url('/font/CenturyGothic.woff2') format('woff2'),
    url('/font/CenturyGothic.ttf') format('truetype');
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lemon Milk';
}

html{
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{
    margin: 0px;
}

p{
    margin: 0px;
}

img{
    width: 100%;
    display: block;
}

a{
    text-decoration: none;
}

ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.btn{
    height: 51px;
    line-height: 51px;
    color: #FFFFFF;
    background-color: #B7B1B1;
    width: 100%;
    max-width: 150px;
    font-size: 20px;
    display: block;
    border-radius: 21px;
    margin: 30px auto 0px;
    border: none;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
}

.btn:hover{
    background-color: #80E4D5;
}

.content{
    width: 100%;
    max-width: 1120px;
    margin: 0px auto;
    position: relative;
}

.input{
    margin-bottom: 13px;
    width: 100%;
}

.input label{
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    color: #070707;
    margin-bottom: 9px;
}

.input input, .input select, .input textarea{
    width: 100%;
    height: 51px;
    border-radius: 21px;
    border: none;
    margin: 0px;
    box-sizing: border-box;
    padding-left: 15px;
    font-size: 20px;
    font-family: 'Century Gothic';
    color: #B7B1B1;
}

.input textarea{
    height: 207px;
    padding: 10px 15px;
    resize: none;
}

.checkbox{
    width: 100%;
    display: flex;
    align-items: center;
}

.checkbox input{
    height: 18px;
    width: 18px;
    margin: 0px 9px 0px 0px;
}

.checkbox label{
    margin: 0px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.validation.error{
    border: 1px solid red;
    outline: unset;
}

.errorDisplay {
    color: red;
    font-size: 15px;
    margin-bottom: 15px;
}

.successDisplay {
    color: green;
    font-size: 15px;
    margin-bottom: 15px;
}

.disable {
    pointer-events: none;
    cursor: default;
}

/*Header*/
header{
    width: 100%;
    position: relative;
}

header .top{
    padding: 10.75px 0px;
    background-color: #AD35D3;
}

header .bottom{
    padding: 16.5px 0px;
    background-color: #FFFFFF;
}

header .container{
    width: 100%;
    max-width: 1240px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-flow: wrap;
    position: relative;
}

header .redes{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;
}

header .redes a{
    display: block;
    max-width: 39px;
    margin-right: 22px;
}

header .redes a:last-child{
    margin-right: 0px;
}

.logoHeader{
    max-width: 134px;
    position: absolute;
    top: -8px;
    left: 0px;
}

.menu{
    display: flex;
    margin-right: 40px;
}

.menu li{
    margin-right: 30px;
    position: relative;
}

.menu li:last-child{
    margin-right: 0px;
}

.menu a{
    font-size: 20px;
    color: #000000;
}

nav{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;
}

.fondoNav{
    display: none;
}

#barras-menu{
    display: none;
}

#fondo{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.flex{
    display: flex;
    align-items: center;
    flex-flow: wrap;
}

.flex-space{
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

.flex-space-invert{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}

/*Attraction*/
#attraction{
    width: 100%;
    position: relative;
}

#attraction .swiper-slide{
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 720px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#attraction .swiper-slide::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-image: linear-gradient(rgba(128,228,213,0.69), rgba(173,53,211,0.69));
    z-index: 1;
}

#attraction .title{
    position: relative;
    font-size: 65px;
    color: #FFFFFF;
    text-align: center;
    z-index: 2;
}

.idea{
    max-width: 1232px;
    position: absolute;
    top: -240px;
    bottom: 0px;
    right: -623px;
    margin: auto;
    z-index: 2;
}

#attraction .description{
    padding: 45px 0px 60px;
    background-color: #11B6C2;
}

#attraction .description p{
    max-width: 1150px;
    margin: 0px auto;
    font-size: 25px;
    font-family: 'Century Gothic';
    text-align: center;
    color: #FFFFFF;
}

/*Sobre nosotros*/
#sobre-nosotros{
    padding: 47px 0px 0px;
}

.sectionTitle{
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
    color: #000000;
}

#sobre-nosotros .block{
    width: 100%;
    max-width: 520px;
    text-align: center;
    margin-bottom: 60px;
}

#sobre-nosotros .block:last-child{
    max-width: 1090px;
    margin: 0px auto;
}

#sobre-nosotros .block .title{
    color: #FFFFFF;
    background-color: #AD35D3;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 17px;
}

#sobre-nosotros .block:last-child .title{
    max-width: 520px;
    margin: 0px auto 17px;
}

#sobre-nosotros .block .description{
    font-size: 18px;
    font-family: 'Century Gothic';
    color: #000000;
}

#sobre-nosotros .block p{
    font-size: 18px;
    font-family: 'Century Gothic';
    color: #000000;
}

#sobre-nosotros .block .list{
    max-width: 532px;
    display: inline-block;
    list-style: inside;
}

#sobre-nosotros .block .list li{
    font-size: 18px;
    font-family: 'Century Gothic';
    color: #000000;
    text-align: left;
}

#sobre-nosotros .block .list li::marker{
    margin-right: 0px;
}

/*Proceso de incubacion*/
#proceso{
    width: 100%;
    padding: 240px 0px 375px;
    background-image: url('/img/fondo-proceso.png');
    background-size: 135% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#proceso .sectionTitle{
    max-width: 1150px;
    margin: 0px auto 40px;
    color: #11B6C2;
}

#proceso .block{
    width: 100%;
    max-width: 520px;
}

#proceso .block .title{
    font-size: 25px;
    line-height: 71px;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 0px 10px 10px 0px;
    padding-right: 18px;
    text-align: right;
    margin-bottom: 19px;
}

#proceso .block:last-child .title{
    border-radius: 10px 0px 0px 10px;
    text-align: left;
    padding-right: 0px;
    padding-left: 18px;
    margin-top: 71px;
}

#proceso .block .description{
    max-width: 443px;
    font-size: 18px;
    font-family: 'Century Gothic';
    color: #000000;
    text-align: right;
    margin: 0px 0px 0px auto;
}

#proceso .block p{
    max-width: 443px;
    font-size: 18px;
    font-family: 'Century Gothic';
    color: #000000;
    text-align: right;
    margin: 0px 0px 0px auto;
}

#proceso .block .list{
    list-style: disc;
    margin-left: 40px;
}

#proceso .block .list li{
    font-size: 18px;
    font-family: 'Century Gothic';
    color: #000000;
}

/*Comunidad*/
#comunidad{
    width: 100%;
    padding-bottom: 100px;
    margin-top: -105px;
}

#comunidad .content{
    max-width: 1200px;
}

#comunidad .flex-space{
    align-items: center;
}

#comunidad .image{
    width: 100%;
    max-width: 408px;
    height: 453px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#comunidad .text{
    width: 100%;
    max-width: 702px;
}

#comunidad .sectionTitle{
    margin-bottom: 45px;
}

#comunidad .description{
    font-size: 25px;
    font-family: 'Century Gothic';
    color: #000000;
    text-align: center;
}

#comunidad .text p{
    font-size: 25px;
    font-family: 'Century Gothic';
    color: #000000;
    text-align: center;
}

/*Casos de exito*/
#casos-exito{
    width: 100%;
    padding: 43px 0px 130px;
    background-image: linear-gradient(rgba(128,228,213,0.69), rgba(173,53,211,0.69));
}

#casos-exito .sectionTitle{
    color: #FFFFFF;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    margin-bottom: 50px;
}

#casos-exito .swiper-container{
    max-width: 937px;
    height: 353px;
    margin: 0px auto;
    position: relative;
    overflow-x: clip;
}

#casos-exito .swiper-slide{
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 157px;
    position: relative;
}

#casos-exito .swiper-pagination{
    bottom: -70px;
}

#casos-exito .swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    margin: 0px 10px;
    background-color: #FFFFFF;
    opacity: 1;
}

#casos-exito .swiper-pagination-bullet-active{
    background-color: #80E4D5;
}

/*Galeria instagram*/
#galeria{
    width: 100%;
    padding: 145px 0px 120px;
}

#galeria .content{
    max-width: 1125px;
}

#galeria .swiper-container{
    overflow: hidden;
    padding: 0px 60px;
}

#galeria .swiper-slide{
    height: 672px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#galeria .swiper-button-prev, #galeria .swiper-button-next{
    width: 36px;
    height: 68px;
    background-image: url('/img/arrow.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#galeria .swiper-button-prev{
    left: 0px;
}

#galeria .swiper-button-next{
    right: 0px;
    transform: rotate(180deg);
}

#galeria .swiper-button-prev:after, #galeria .swiper-button-next:after{
    content: none;
}

/*Contacto*/
#contacto{
    width: 100%;
    padding: 75px 0px 65px;
    background-image: url('/img/attraction.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

#contacto::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-image: linear-gradient(rgba(128,228,213,0.69), rgba(173,53,211,0.69));
}

#contacto .content{
    max-width: calc(100% - 134px);
}

#contacto .contacto-form{
    width: 100%;
    max-width: 690px;
    padding: 67px 67px 64px 80px;
    background-color: rgba(17, 182, 194, 0.69);
    border: 3px solid #000000;
    margin: 0px 0px 0px auto;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}

#contacto .sectionTitle{
    color: #FFFFFF;
    margin-bottom: 75px;
}

#contacto .idea{
    max-width: 1067px;
    top: 55px;
    right: auto;
    left: -275px;
    z-index: 1;
}

/*Footer*/
footer{
    width: 100%;
    padding: 33px 0px 22px;
    background-color: rgba(183, 177, 177, 0.69);
}

.developed, .developed a{
    font-size: 20px;
    font-family: 'Century Gothic';
    color: #FFFFFF;
    text-align: center;
}

.developed a{
    text-decoration: underline;
    text-transform: uppercase;
}

/*Modal*/
.modal{
    display: none;
    width: 100%;
    max-width: 800px;
    max-height: 500px;
    padding: 48px 39px 20px;
    background-color: #FFFFFF;
    border-radius: 48px;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    height: -moz-fit-content;
    height: fit-content;
    z-index: 10;
    box-sizing: border-box;
    overflow-y: scroll;
}

.modal .title{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.modal .description{
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    margin: 0px auto 20px;
}

.closeModal{
    position: absolute;
    right: 34px;
    top: 25px;
    width: 21px;
}
